<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samayu.prodcastc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.samayu.prodcastc.ui.ProdcastApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/store_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.samayu.prodcastc.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.samayu.prodcastc.ui.LoginActivity" />
        <activity android:name="com.samayu.prodcastc.ui.StoreActivity" />
        <activity android:name="com.samayu.prodcastc.ui.OutstandingBillsActivity" />
        <activity android:name="com.samayu.prodcastc.ui.HomeActivity" />
        <activity
            android:name="com.samayu.prodcastc.ui.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
            android:name="com.samayu.prodcastc.ui.OrderHistroyActivity"
            android:label="@string/title_activity_order_histroy"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.samayu.prodcastc.ui.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.samayu.prodcastc.ui.EditRegistrationActivity"
            android:label="@string/title_activity_edit_registration"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.samayu.prodcastc.ui.VerifyPinActivity"
            android:label="@string/title_activity_verify_pin"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.samayu.prodcastc.ui.ProductListActivity"
            android:label="@string/title_product_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.samayu.prodcastc.ui.ProductDetailActivity"
            android:label="@string/title_product_detail"
            android:parentActivityName="com.samayu.prodcastc.ui.ProductListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samayu.prodcastc.ui.ProductListActivity" />
        </activity>
        <activity
            android:name="com.samayu.prodcastc.ui.EntryActivity"
            android:label="@string/title_activity_entry"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.samayu.prodcastc.ui.BillDetailsActivity"
            android:label="@string/title_activity_bill_details"
            android:theme="@style/AppTheme" />
    </application>

</manifest>