<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ventruxinformatics.prodcast">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        0
        --
        <activity android:name=".LoginActivity" />
        <activity android:name=".StoreActivity" />
        <activity android:name=".OrderNowActivity" />
        <activity android:name=".BillActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme" />
        <activity android:name=".CustomerRegistrationActivity" />
        <activity
            android:name=".OrderHistroyActivity"
            android:label="@string/title_activity_order_histroy"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>